@mixin btn {
  border: none;
  width: 100%;
  font-family: monospace;
  border-radius: 5px;
  cursor: pointer;
}
.upBtn {
  @include btn();

  background-color: #4b91c9;
}

.rmBtn {
  @include btn();
  background-color: #dd2222;
}
