table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.responsiveTable table,
.responsiveTable thead,
.responsiveTable tbody,
.responsiveTable th,
.responsiveTable td,
.responsiveTable tr {
  @media screen and (max-width: 40em) {
    display: block;
    width: 320px;
  }
}
